@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: domaine;
  src: url('../fonts/Domaine_font.ttf');
}
@font-face{
  font-family: canopee;
  src: url('../fonts/canopee_font.ttf');
}
@font-face{
  font-family: editorialnew;
  src: url('../fonts/EditorialNew-Light_font.ttf');
}

/* ----------------------------- Ink Loading Animation --------------------------- */

/* #ink-loading{
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  display: flex;
} */

#ink-loading::before {
  background-image: url('/Images/bg-img1.jpg'); 
  -webkit-mask-image: url('/ink.gif'); 
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('/ink.gif');
  background-position: center;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  background-size: cover;
  mask-position: center;
  position: absolute;
  mask-size: cover;
  content: "";
  z-index: -1;
  inset: 0;
}
